@import url('./_not-loggined/article__icon_not-loggined.css');
@import url('./_loggined/article__icon_loggined.css');
@import url('./_marked/article__icon_marked.css');

.article__icon {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
    background-color: #FFF;
    border-radius: 8px;
    z-index: 1000;
}